services:
  meilisearch:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: meilisearch
    ports:
      - "7700:7700"
    environment:
      - MEILI_ENV=development
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
    restart: unless-stopped